/*
  Evelyn Yang
  Eventeny Community Page
  November 25, 2020

  This is the styles file for the Eventeny community page.
  It defines the visual aspects of the page, including colors choices,
  font sizes, etc.
*/

body {
  font-family: 'Roboto Mono', monospace;
  margin: 30px;
  padding: 20px;
}

.hidden {
  display: none !important;
}

header {
  text-align: center;
}

header img {
  height: 20px;
  width: auto;
}

header h1, nav h2 {
  display: inline;
  color: #0173be;
}

nav {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

nav h2 {
  font-size: 18px;
}

button {
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: #0cbab3;
}

#new-btn, #cancel-btn, #post-btn {
  background-color: #84eed1;
}

button:hover, #new-btn:hover, #cancel-btn:hover, #post-btn:hover {
  background-color: #e5ebf0;
}

button, .card, .comment {
  padding: 2.5vh;
  border-radius: 10px;
  margin: 1.5vh;
}

button, .title, .comment {
  cursor: pointer;
}

.card {
  background-color: #cae5ff;
}

.card {
  font-size: 16pt;
}

.card p.username {
  color: #0173be;
}

.card, .card div, .comment {
  display: flex;
}

.card img, .comment img {
  padding: 1vh;
  background-color: white;
  border-radius: 50%;
}

.card > img {
  height: 14vh;
  margin: 10px;
}

.card > div {
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.card p {
  margin: 0px;
}

.card:hover {
  transform: scale(1.005);
}

.title {
  font-weight: bold;
  font-size: 24px;
  padding: 0px;
}

.title:hover {
  text-decoration: underline;
}

.topic {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.trackers {
  margin-left: auto;
  padding-right: 10px;
  font-size: 16px;
  flex: 0 0 13%;
}

.trackers div {
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.trackers img {
  height: 2vh;
  margin-right: 4px;
  cursor: pointer;
}

.trackers img:hover {
  transform: scale(1.1);
}

.comment {
  background-color: #e5ebf0;
  margin-left: auto;
  margin-right: auto;
}

.comment h2 {
  color: #0173be;
  font-size: 16px;
}

.comment p {
  margin-left: 20px;
  font-size: 14px;
}

.comment p.date {
  margin-left: auto;
  padding-right: 10px;
}

h2 {
  font-size: 18pt;
  padding-left: 15px;
}

#new {
  display: flex;
  justify-content: center;
  background-color: #e5ebf0;
  width: 70%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#content input, #content textarea {
  width: 100%;
  margin: 10px;
  padding: 20px;
}

#content textarea {
  height: 80px;
}

#post-actions button, #flag-message {
  display: inline;
}

#flag-message {
  color: #bc434f;
  margin: 10px;
}