/*
  Evelyn Yang
  Eventeny Community Page
  November 25, 2020

  This is the styles file for the Eventeny community page.
  It defines the visual aspects of the page, including colors choices,
  font sizes, etc.
*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 30px;
  padding: 20px;
}

.hidden {
  display: none !important;
}

header {
  text-align: center;
}

header img {
  height: 20px;
  width: auto;
}

header h1, nav p {
  display: inline;
  color: #0173be;
}

nav {
  display: flex;
  margin: 30px;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

#new-btn, #cancel-btn, #post-btn {
  background-color: lavender;
}

button:hover, #new-btn:hover, #cancel-btn:hover, #post-btn:hover {
  background-color: aliceblue;
}

button, .card {
  cursor: pointer;
  background-color: #cae5ff;
  padding: 2.5vh;
  border-radius: 10px;
  margin: 1.5vh;
}

.card {
  font-size: 16pt;
}

.card, .card div {
  display: flex;
}

.card img {
  padding: 1vh;
  background-color: white;
  border-radius: 50%;
}

.card > img {
  height: 14vh;
  margin: 10px;
}

.card > div {
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.card p {
  margin: 0px;
}

.card:hover {
  transform: scale(1.005);
}

.title {
  font-weight: bold;
  font-size: 24px;
  padding: 0px;
}

.topic {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.trackers {
  margin-left: auto;
  padding-right: 10px;
  font-size: 16px;
  flex: 0 0 15%;
}

.trackers div {
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.trackers img {
  height: 2vh;
  margin-right: 4px;
  cursor: pointer;
}

.trackers img:hover {
  transform: scale(1.1);
}

h2 {
  font-size: 20pt;
  padding-left: 15px;
}

#new {
  display: flex;
  justify-content: center;
  background-color: #cae5ff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#new input {
  width: 50%;
  margin: 10px;
  padding: 20px;
}
