/*
  Evelyn Yang
  Eventeny Community Page
  November 25, 2020

  This is the styles file for the Eventeny community page.
  It defines the visual aspects of the page, including colors choices,
  font sizes, etc.
*/

body {
  font-family: 'Work Sans', sans-serif;
  margin: 30px;
  padding: 20px;
}

.hidden {
  display: none !important;
}

header {
  text-align: center;
}

header img {
  float: left;
  margin-left: 20px;
  height: 20px;
  width: auto;
  margin-top: 5px;
}

header h1 {
  padding-right: 100px;
}

header h1, nav h2 {
  display: inline;
  color: #0173be;
}

nav {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

nav h2 {
  font-size: 18px;
}

nav input {
  padding: 10px;
}

button {
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: #0cbab3;
  font-family: 'Roboto Mono', monospace;
}

#new-btn, #cancel-btn, #post-btn, #comment-btn {
  background-color: #84eed1;
}

#topic-btn {
  margin-left: 20px;
}

button:hover, #comment-btn:hover {
  background-color: #e5ebf0;
}

#new-btn:hover,  #cancel-btn:hover, #post-btn:hover {
  background-color: #cae5ff;
}

button, .card, .comment {
  padding: 2.5vh;
  border-radius: 10px;
}

button, .comment {
  margin: 1.5vh;
}

button, .title, .comment {
  cursor: pointer;
}

.card {
  background-color: #cae5ff;
  margin: 2vh;
  font-size: 16px;
}

.card, .card div, .comment {
  display: flex;
}

.card img, .comment img {
  padding: 1vh;
  background-color: white;
  border-radius: 50%;
}

.card > img {
  height: 14vh;
  margin: 10px;
}

.card > div {
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.card:hover {
  transform: scale(1.005);
}

.title {
  font-weight: bold;
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.title:hover {
  text-decoration: underline;
}

.card span.username {
  color: #0173be;
  font-size: 16px;
}

.topic {
  margin-top: 0;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  width: fit-content;
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 5px;
  font-family: 'Roboto Mono', monospace;
}

.trackers {
  margin-left: auto;
  padding-right: 10px;
  font-size: 16px;
  flex: 0 0 13%;
}

.trackers div {
  flex-direction: row;
  align-items: center;
}

.trackers img {
  height: 2vh;
  margin-right: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.trackers img:hover {
  transform: scale(1.1);
}

.trackers p {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5px;
}

.comment {
  background-color: #e5ebf0;
  margin-left: auto;
  margin-right: auto;
  margin: 2vh;
}

.comment h2 {
  color: #0173be;
  font-size: 16px;
}

.comment p {
  margin-left: 20px;
  font-size: 14px;
}

.comment p.date {
  margin-left: auto;
  padding-right: 10px;
}

h2 {
  font-size: 18pt;
  padding-left: 15px;
}

#new {
  display: flex;
  justify-content: center;
  background-color: #e5ebf0;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#new button {
  margin: 50px 15px 15px;
  width: 50%;
}

#new-post-actions {
  display: flex;
  justify-content: center;
}

#content input, #post-actions input, textarea {
  width: 94%;
  margin: 15px;
  padding: 20px;
}

#post-actions label {
  padding-left: 10px;
}

.content {
  margin-left: 15px;
  margin-bottom: 40px;
  font-size: 18px;
}

textarea {
  height: 60px;
}

input, textarea, button {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

#post-actions button, #flag-message {
  display: inline;
  margin-bottom: 30px;
  margin-right: 4px;
}

#post-actions label {
  margin-left: 10px;
}

#flag-message {
  color: #bc434f;
  margin: 10px;
}